<!DOCTYPE html>
<html>
    <head>
        <title>About Us — Rectify</title>
        <meta charset="UTF-8">
        <meta name="description" content="About Rectify, popular streaming service.">
        <meta name="keywords" content="Rectify, Music, Streaming, Online, Groove, Songs">
        <meta name="author" content="Krishnendu Mukherjee">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="about">
            <h1 class="headings">About Us</h1>
            <div class="content">
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
            </div>
        </div>
        {% endblock %}
    </body>
</html>