<!DOCTYPE html>
<html>
    <head>
        <title>Home — Rectify</title>
        <meta charset="UTF-8">
        <meta name="description" content="Groove to the music, move to the music with Rectify. Starting at $9.99 per year only. Conditions apply.">
        <meta name="keywords" content="Rectify, Music, Streaming, Online, Groove, Songs">
        <meta name="author" content="Krishnendu Mukherjee">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="home">
            <h1 class="headings">WELCOME TO RECTIFY</h1>
            <div class="home-buttons">
                <button onclick="SignIn()">Sign In</button>
                <button onclick="trial()">Try for Free</button>
            </div>
            <p>
                Your next favourite music streaming platform is finally here. Subscribe to our premium plans for just $9.99 / year. Or try for free for 7 days. No commitment. No hidden charges.
            </p>
        </div>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    {% endblock %}
    </body>
</html>